.btn,
.footer-nav a,
a,
a.close {
    text-decoration: none
}

*,
.text-holder,
:after,
:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*,
:after,
:before,
blockquote,
body,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

*,
abbr,
acronym,
fieldset,
img {
    border: 0
}

#slide-0,
.cardclose img {
    box-shadow: none
}

.JS #myDiv {
    display: none
}

table {
    border-spacing: 0
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-weight: 400;
    font-style: normal
}

strong {
    font-weight: 700
}

ol,
ul {
    list-style: none
}

caption,
th {
    text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    color: #555
}

q:after,
q:before {
    content: ''
}

.cardclose,
.footer-nav a:after,
.footer-nav li:before,
.icon-library:before {
    content: ""
}

body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden
}

div {
    display: block;
    overflow: hidden
}

body::-webkit-scrollbar,
div::-webkit-scrollbar,
html::-webkit-scrollbar {
    width: 0
}

a,
blockquote,
code,
fieldset,
form,
iframe,
img,
input,
label,
li,
p,
pre,
span,
textarea {
    display: block;
    overflow: hidden;
    position: relative
}

body {
    color: #000;
    background-color: #2c2521;
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat
}

* {
    vertical-align: baseline;
    outline: 0
}

.items {
    padding: .3em;
    height: auto
}

.items li:last-child {
    margin-bottom: 1em
}

.intro p {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em
}

.twitter-share-button {
    position: fixed;
    z-index: 99;
    right: 12.4em;
    top: .75em
}

#infoMenu {
    color: #f2f2f2;
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    padding: .4em 0 0;
    width: 100%;
    font-size: 1em;
    height: 4.8em;
    background-color: rgba(87, 0, 0, 1)
}

#pp-nav.custom .pp-tooltip {
    color: #AAA
}

#infoMenu a {
    background-color: #4e0000;
    height: 4.8em
}

#infoMenu .active a {
    background-color: #911616
}

.footer-nav .name {
    text-align: center;
    margin: 0 auto;
    font-size: .8em;
    display: block
}

#footermenu li,
.post,
.text-holder {
    display: inline-block
}

#footermenu li {
    width: 20%;
    height: 100%
}

.text-holder {
    position: relative;
    background: 0 0;
    font-size: 2rem;
    text-align: right;
    padding: .3em;
    background-color: rgba(0, 0, 0, .6);
    background-size: auto;
    border: 2px solid #111;
    border-radius: 5px
}

.center-text,
.content-title,
.footer-nav li,
.sidebar-header,
.sidebar-header a,
div.info-holder-main span.more {
    text-align: center
}

#my-header,
.text-holder h4 {
    font-size: 1em
}

.text-holder h2,
.text-holder h4 {
    color: #eef9f5;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: .2em .2em .4em rgba(87, 0, 0, .9)
}

.text-holder span {
    line-height: 1em;
    padding: .5em;
    margin: 2em 0 0
}

.text-holder strong {
    display: block;
    line-height: 2em
}

.footer-nav li:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.footer-nav a {
    position: relative;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    padding: 3.2em 0 0;
    z-index: 500
}

.footer-nav a:after {
    margin: 0 auto;
    width: 50%;
    height: 3.2em;
    top: 10%;
    left: 33%;
    position: absolute
}


.footer-nav .spotlight:after {
    background: url(../icons/scan.png) no-repeat;
    background-size: 3em;
    top: 5%;
}

.footer-nav .home:after {
    background: url(../icons/Home_Side_Nav_Icon.png) no-repeat;
    background-size: 3em 2em;
}
.footer-nav .mywinstar:after {
    background: url(../icons/W-Logo-Whitex225.png) no-repeat;
    background-size: 3em;
    top: 5%;
}
.footer-nav .directions:after {
    background: url(../icons/directions.png) no-repeat;
    background-size: 3em 2em;
}
/*.footer-nav .sign-up {padding:3.42em 0.58em 0;}*/

.footer-nav .scaninstructions:after {
    background: url(../icons/scan.png) no-repeat;
    background-size: 3em;
}

.footer-nav .photoboothinstructions:after {
    background: url(../icons/PhotoBooth_Icon.png) no-repeat;
    background-size: 3em 2em;
}

.footer-nav .contactus:after {
    background: url(../icons/Contact_Icon.png) no-repeat;
    background-size: 2em;
}

.footer-nav .facilitymap:after {
    background: url(../icons/facility_icon.png) no-repeat;
    background-size: 2em;
}

#spantable {
    display: table
}

#my-header {
    display: table-row;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5.8em;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #4e0000;
    background-color: rgba(87, 0, 0, 1);
    background-image: linear-gradient(rgba(34, 34, 34, .7), rgba(87, 0, 0, .7));
    line-height: 1
}

.deploy-sidebar,
.deployUpperRightCta {
    background-repeat: no-repeat;
    z-index: 1500
}

#my-header li {
    float: left;
    display: -webkit-flex;
    justify-content: center;
    height: 100%
}

#my-header ul {
    height: 100%;
    width: 100%
}

.deploy-back {
    background-image: url(../images/misc/icon-ios7-arrow-back-128-white-128.png);
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    background-size: 1em;
    display: block;
    z-index: 500
}

.content-title {
    font-size: 1.1em;
    margin: auto;
    text-transform: uppercase;
    width: 100%;
    height: auto;
    color: #FFF
}

.deployUpperRightCta {
    background-image: url(../icons/W-Logo-Whitex225.png);
    width: 2.4em;
    height: 2.4em;
    background-size: 2.4em;
    margin: auto
}

.deploy-sidebar {
    background-image: url(../images/misc/deploy-nav-128.png);
    width: 1.6em;
    height: 1.6em;
    background-size: 1.6em;
    margin: auto
}

#map-canvas,
.sectionpage {
    background-size: cover;
    background-repeat: no-repeat;
    height: auto
}

#my-header li.twocell {
    left: 0;
    right: 0;
    width: 70%
}

#my-header li.leftli,
#my-header li.rightli {
    width: 15%
}

#my-header li.rightli {
    float: right
}

a,
blockquote,
code,
fieldset,
form,
iframe,
img,
input,
label,
p,
pre,
textarea {
    display: block;
    overflow: hidden;
    position: relative
}

.sectionpage {
    position: absolute;
    top: 4.8em;
    bottom: 4.8em;
    left: 0;
    right: 0;
    background-image: url(../images/backgrounds/front-320x480.jpg)
}

#map-canvas,
.deploy-back {
    position: relative
}

.content-section,
.overlay {
    position: absolute;
    height: 100%
}

.overlay {
    z-index: 9999;
    width: 100%;
    background: rgba(255, 255, 255, .3)
}

.contact-call,
.contact-text {
    background-size: 1.5em 1.5em
}

img[data-sizes=auto] {
    display: block;
    width: 100%!important
}

#items-99 .lazy,
#items-99 .responsive-image,
.lazy,
.responsive-image {
    width: 100%
}

#items-99 li {
    overflow: hidden;
    position: relative
}

.half-thumb .lazy,
.half-thumb .responsive-image {
    width: 8em;
    overflow: visible
}

.ui-li a {
    overflow: visible
}

#snap-content,
#snap-drawer-wrapper,
.details-more,
.info-holder-main,
.nav-item,
.slide,
.slides,
.snap-drawer {
    overflow: hidden
}

.panorama img {
    width: 18em
}

.content-section {
    margin: 0;
    padding: 1em;
    vertical-align: top;
    text-align: justify;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%
}

.contact-call,
.contact-mail,
.contact-text {
    padding-left: 2.5em;
    background-repeat: no-repeat
}

.content-section em,
.content-section h1 {
    position: absolute;
    left: 1.67em;
    z-index: 99999;
    color: #000
}

.content-section h1 {
    font-size: 1.33em;
    margin-top: .83em
}

.content-section em {
    font-size: 1em;
    font-style: normal;
    margin-top: 2.9em
}

.contact-call {
    padding-top: .42em;
    color: #000;
    background-image: url(../images/misc/contact_phone.png);
    background-position: 0 .42em;
    height: 2.5em;
    display: block
}

.contact-facebook,
.contact-mail,
.contact-text,
.contact-twitter,
.contact-youtube {
    height: 1.67em;
    margin-bottom: .17em;
    color: #000;
    display: block
}

.contact-text {
    background-image: url(../images/misc/contact_message.png);
    background-position: 0 .17em
}

.contact-mail {
    background-image: url(../images/misc/contact_mail.png);
    background-position: .25em .25em;
    background-size: 1.17em 1.17em;
    margin-top: .42em
}

.contact-facebook,
.contact-twitter,
.contact-youtube {
    padding-left: 2.5em;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 1.67em 1.67em;
    margin-top: .42em
}

.contact-facebook {
    background-image: url(../images/misc/contact_facebook.png)
}

.contact-twitter {
    background-image: url(../images/misc/contact_twitter.png)
}

.contact-youtube {
    background-image: url(../images/misc/youtube5.png)
}

.info-holder-main {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #aaa;
    background: rgba(255, 255, 255, .15);
    border-radius: 5px;
    position: relative;
    height: 98%;
    width: calc(100vw - 1em)!important;
    margin: 1em .5em;
    color: #000
}

#pages-0 .info-holder-main,
#slide-0 {
    border: none;
    background: 0 0
}

.slick-active {
    display: block
}

.cardclose,
.cardclose:active {
    -webkit-background-clip: padding-box
}

#pages-0 .cardclose,
#pages-0 h3#title-0 {
    display: none
}

.outside {
    margin: 2em 0 0
}

.info-holder-main p {
    display: inline
}

.info-holder-main.inside {
    display: block
}

.info-holder-main h3 {
    text-align: left;
    border-bottom: .1em solid #520606;
    margin: .2em;
    color: #520606;
    z-index: 0;
    font-weight: 800;
    font-size: 2.5em;
    font-variant: small-caps
}

a.cardclose {
    margin: 0 0 .5em 3em
}

.cardclose {
    width: 1.5em;
    height: 1.5em;
    z-index: 5000;
    position: absolute;
    top: .2em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background-image: url(../images/misc/nav-close.png);
    background-color: #520606;
    background-repeat: no-repeat;
    border: none;
    padding: 1em;
    margin: 0;
    background-size: 2em;
    right: .2em
}

.cardclose:active {
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background-color: #34484e;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#495e65), to(#34484e));
    background-image: -webkit-linear-gradient(top, #495e65, #34484e);
    background-image: -moz-linear-gradient(top, #495e65, #34484e);
    background-image: -ms-linear-gradient(top, #495e65, #34484e);
    background-image: -o-linear-gradient(top, #495e65, #34484e);
    background-image: linear-gradient(#495e65, #34484e)
}

.cardclose img {
    width: 100%
}

.info-holder-main .holder {
    color: #000;
    font-size: 1.25rem;
    line-height: 1.42em;
    font-weight: 800;
    text-align: left;
    margin: 0 0 .83em;
    border-bottom: .08em solid #710000
}

#action-footer .button,
#items-99 .button,
.info-holder-main .button,
div.info-holder-main span.more {
    border: .08em solid #710000;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden
}

#action-footer .button,
#items-99 .button,
.info-holder-main .button {
    color: #fff!important;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: .5em;
    margin: .1em;
    padding: .75em 1.5em;
    min-width: 6.25em;
    text-align: center;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #911616;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8a1a1a), to(#710000));
    background-image: -webkit-linear-gradient(top, #8a1a1a, #710000);
    background-image: -moz-linear-gradient(top, #8a1a1a, #710000);
    background-image: -ms-linear-gradient(top, #8a1a1a, #710000);
    background-image: -o-linear-gradient(top, #8a1a1a, #710000);
    background-image: linear-gradient(#8a1a1a, #710000)
}

#action-footer .button {
    float: right;
    line-height: 1
}

.info-holder-main .button:active {
    color: #fff;
    border: 1px solid #4e6268!important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #34484e;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#495e65), to(#34484e));
    background-image: -webkit-linear-gradient(top, #495e65, #34484e);
    background-image: -moz-linear-gradient(top, #495e65, #34484e);
    background-image: -ms-linear-gradient(top, #495e65, #34484e);
    background-image: -o-linear-gradient(top, #495e65, #34484e);
    background-image: linear-gradient(#495e65, #34484e)
}

.holder .date {
    font-style: normal;
    position: relative;
    left: 0;
    font-weight: 800
}

.post {
    height: auto
}

.post.home {
    border: none;
    background: 0 0;
    border-radius: 0;
    margin: 0;
    padding: 0
}

.ui-listview>.ui-li.ui-last-child {
    margin-bottom: 3em;
    padding-bottom: 3em
}

div.name {
    color: #570000;
    font-size: 1.5em
}

div.info-holder-main span.more {
    color: #fff!important;
    cursor: pointer;
    display: block;
    font-size: .83em;
    line-height: 1;
    margin: .2em 2em .2em 0;
    padding: .83em 1.5em;
    max-width: 6.25em;
    border-radius: .25em;
    background-size: 4em 4em;
    background-image: none;
    width: 6em;
    height: 2.5em;
    background-clip: padding-box;
    background-color: #961616;
    position: relative;
    float: right
}

#snap-content,
.snap-drawers {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0
}

div.info-holder-main span.more:active {
    color: #fff;
    border: 1px solid #4e6268!important
}

.details-more {
    display: -webkit-flex
}

#map-canvas {
    width: 100%;
    margin: 0;
    padding: 0
}

div#sidebar {
    font-size: .7em;
    margin-bottom: 0;
    width: 205px;
    height: 100%
}

#snap-content {
    font-size: 1rem;
    z-index: 2
}

.snap-drawers {
    height: auto
}

.snap-drawer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: auto;
    right: auto;
    width: 205px;
    height: auto
}

#snap-drawer-wrapper {
    font-size: 1em;
    width: 100%;
    box-sizing: content-box;
    height: auto
}

.snap-drawer-right,
.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
    display: none
}

.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
    width: 100%
}

.snapjs-expand-right .snap-drawer-right {
    width: 0
}

.snap-drawer-left {
    left: 0;
    z-index: 1;
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, .4);
    background-image: none;
    background-origin: padding-box;
    background-size: auto
}

.round-decoration {
    width: 10em
}

.sidebar-controls {
    border-bottom: solid .08em rgba(255, 255, 255, .05)
}

.sidebar-controls a {
    background-position: 1.5em 1.42em;
    background-repeat: no-repeat;
    background-size: 2em;
    border-right: .08em solid #191919;
    border-left: solid .08em rgba(255, 255, 255, .05);
    border-bottom: .08em solid #191919;
    float: left;
    width: 25%;
    height: 4.17em
}

.sidebar-call {
    background-image: url(../images/misc/sidebar-call.png);
    border-left: none!important
}

.sidebar-text {
    background-image: url(../images/misc/sidebar-text.png)
}

.sidebar-face {
    background-image: url(../images/misc/sidebar-facebook.png)
}

.sidebar-twit {
    background-image: url(../images/misc/sidebar-twitter.png)
}

.sidebar-close {
    background-image: url(../images/misc/sidebar-close.png)
}

.sidebar-logo {
    padding-top: .42em;
    display: inline;
    margin: 1.67em auto .42em
}

.sidebar-header {
    margin-bottom: .42em
}

.sidebar-header a {
    background: url(../images/logo-sprite.png) no-repeat;
    height: 10em;
    width: 10em;
    margin: 0 auto
}

.nav-item a,
.selected-sub-nav,
.sidebar-update,
.unselected-nav {
    background-repeat: no-repeat
}

.sidebar-header a:active,
.sidebar-header a:focus,
.sidebar-header a:hover {
    color: #1982d1;
    background-position: 0 bottom
}

.sidebar-header h4 {
    font-size: 1.5em;
    color: #FFF;
    margin-bottom: 0
}

.sidebar-header em {
    display: block;
    font-style: normal;
    color: #a4a4a4
}

.sidebar-decoration {
    width: 195px;
    height: .17em;
    background-color: #191919;
    border-bottom: solid .08em rgba(255, 255, 255, .1)
}

.sidebar-breadcrumb {
    background-color: rgba(0, 0, 0, .1)
}

.sidebar-breadcrumb p {
    color: #d2d3d4;
    font-size: .83em;
    margin-left: 1.67em;
    margin-top: .42em;
    margin-bottom: .42em;
    font-weight: 400;
    text-transform: uppercase
}

.nav-item {
    height: 4.83em;
    display: inline
}

.nav-item a {
    height: 3.17em;
    line-height: 3.67em;
    background-size: 1.67em 1.67em;
    color: #d3d3d3;
    font-weight: 700;
    font-size: 1.07em;
    padding-left: 5em
}

.selected-nav,
.unselected-nav {
    background-size: 1.17em 1.17em;
    position: absolute;
    width: 1.17em;
    height: 1.17em;
    left: 13.75em
}

.selected-nav {
    background-image: url(../images/misc/nav-selected.png);
    margin-top: 1.17em
}

.unselected-nav {
    background-image: url(../images/misc/nav-unselected.png);
    margin-top: 1em
}

.selected-sub-nav {
    background-image: url(../images/misc/nav-selected.png);
    background-size: .92em .92em;
    position: absolute;
    width: 1.17em;
    height: 1.17em;
    left: 13.83em;
    margin-top: 1.17em
}

.dropdown-nav,
.link-nav,
.submenu-deploy em,
.unselected-sub-nav {
    background-size: 1.17em 1.17em;
    position: absolute;
    width: 1.17em;
    height: 1.17em
}

.unselected-sub-nav {
    background-image: url(../images/misc/nav-unselected.png);
    left: 13.75em;
    margin-top: 1em
}

.link-nav {
    background-image: url(../images/misc/nav-link.png);
    left: 13.75em;
    margin-top: .83em
}

.dropdown-nav,
.submenu-deploy em {
    margin-top: 1.17em
}

.submenu-deploy em {
    background-image: url(../images/misc/nav-dropup.png);
    left: 13.75em
}

.dropdown-nav {
    background-image: url(../images/misc/nav-dropdown.png)!important;
    left: 12.08em
}

.nav-item-submenu {
    display: none;
    height: 100%
}

.active-submenu {
    display: block
}

.nav-item a:hover {
    background-color: rgba(255, 255, 255, .03)
}

.nav-item-submenu a,
.sidemenuitems {
    background-image: url(../images/misc/nav-submenu.png);
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em!important;
    margin-bottom: 0;
    margin-top: 0;
    height: 3.17em!important;
    line-height: 3.17em!important;
    background-position: 2.1em 1em;
    padding-left: 5em;
    margin-left: 0;
    font-weight: 400;
    color: #7d7d7e;
    border-bottom: solid .08em rgba(255, 255, 255, .03)
}

.sidemenu-home {
    background-image: url(../icons/Home_Side_Nav_Icon.png);
    background-position: 1.7em .8em;
    background-size: 1.8em 1.8em!important
}

.sidemenu-spotlight {
    background-image: url(../icons/spotlight-icon.png);
    background-position: 1.5em .6em;
    background-size: 2.5em 2.5em!important
}

.sidemenu-mywinstar {
    background-image: url(../icons/W-Logo-Whitex225.png);
    background-position: 1.7em .4em;
    background-size: 2.5em 2.2em!important
}

.sidemenu-contactus {
    background-image: url(../icons/Contact_Side_Nav_Icon.png);
    background-position: 2em .8em;
    background-size: 1.5em 1.7em!important
}

.sidemenu-features {
    background-image: url(../images/misc/nav-features.png);
    background-position: 1.67em 1em
}

.sidemenu-scaninstructions {
    background-image: url(../icons/scan.png);
    background-position: 1.5em .6em;
    background-size: 2.3em 2em!important
}

.sidemenu-bookaroom,
.sidemenu-playersclub {
    background-position: 1.5em .6em;
    background-size: 2em 2em!important
}

.sidemenu-playersclub {
    background-image: url(../icons/Scan_Side_Nav_Icon.png)
}

.sidemenu-bookaroom {
    background-image: url(../icons/Calendar_Side_Nav_Icon.png)
}

.sidemenu-directions,
.sidemenu-facilitymap {
    background-position: 1.3em .5em;
    background-size: 2.7em 2em!important
}

.sidemenu-careers,
.sidemenu-close,
.sidemenu-dining,
.sidemenu-entertainment,
.sidemenu-entertainment_venue,
.sidemenu-facebook,
.sidemenu-golf,
.sidemenu-photoboothinstructions,
.sidemenu-promotions,
.sidemenu-seetheworld,
.sidemenu-shareapp,
.sidemenu-twitter,
.sidemenu-youtube {
    background-position: 1.5em .6em;
    background-size: 2em 2em!important
}

.sidemenu-facilitymap {
    background-image: url(../icons/facility_icon.png)
}

.sidemenu-directions {
    background-image: url(../icons/directions.png)
}

.sidemenu-photoboothinstructions {
    background-image: url(../icons/PhotoBooth_Icon.png)
}

.sidemenu-seetheworld {
    background-image: url(../icons/SeeTheWorld_Icon.png)
}

.sidemenu-entertainment {
    background-image: url(../icons/Entertainment_Icon.png)
}

.sidemenu-entertainment_venue {
    background-image: url(../icons/venuesIcon.png)
}

.sidemenu-promotions {
    background-image: url(../icons/Promo_Icon.png)
}

.sidemenu-dining {
    background-image: url(../icons/Dining_Side_Nav_Icon.png)
}

.sidemenu-golf {
    background-image: url(../icons/Golf_Icon.png)
}

.sidemenu-careers {
    background-image: url(../icons/Careers_Side_Nav_Icon.png)
}

.sidemenu-shareapp {
    background-image: url(../icons/qrcode_icon.png)
}

.sidemenu-close {
    background-image: url(../images/misc/nav-close.png)
}

.sidemenu-facebook {
    background-image: url(../images/misc/nav-facebook.png)
}

.sidemenu-twitter {
    background-image: url(../images/misc/nav-twitter.png)
}

.sidemenu-youtube {
    background-image: url(../icons/youtube-xxl.png)
}

.nav-item-submenu a.sidemenu-electronic-games,
.nav-item-submenu a.sidemenu-entertainment_venue,
.nav-item-submenu a.sidemenu-table-games,
.sidemenu-accommodations,
.sidemenu-blog,
.sidemenu-casino,
.sidemenu-meetings,
.sidemenu-shops {
    background-position: 1.6em .5em;
    background-size: 2em 2em!important
}

.sidemenu-accommodations {
    background-image: url(../icons/accommodationsIcon.png)
}

.sidemenu-casino {
    background-image: url(../icons/casinoIcon.png)
}

.sidemenu-blog {
    background-image: url(../icons/blogIcon.png)
}

.sidemenu-meetings {
    background-image: url(../icons/meetingsIcon.png)
}

.sidemenu-shops {
    background-image: url(../icons/shopsIcon.png)
}

.nav-item-submenu a.sidemenu-table-games {
    background-image: url(../icons/tableGameIcon.png)
}

.nav-item-submenu a.sidemenu-electronic-games {
    background-image: url(../icons/electronicGamesIcon.png)
}

.nav-item-submenu a.sidemenu-entertainment_venue {
    background-image: url(../icons/venuesIcon.png)
}

.nav-item-submenu a.sidemenu-dining,
.nav-item-submenu a.sidemenu-entertainment,
.nav-item-submenu a.sidemenu-golf,
.nav-item-submenu a.sidemenu-promotions {
    background-size: 1.75em 1.75em;
    background-position: 10% 50%
}

.nav-item-submenu a.sidemenu-entertainment {
    background-image: url(../icons/Entertainment_Icon.png)
}

.nav-item-submenu a.sidemenu-promotions {
    background-image: url(../icons/Promo_Icon.png)
}

.nav-item-submenu a.sidemenu-dining {
    background-image: url(../icons/Dining_Side_Nav_Icon.png)
}

.nav-item-submenu a.sidemenu-golf {
    background-image: url(../icons/Golf_Icon.png)
}

.nav-item-submenu a:last-child {
    border-bottom: none!important
}

.sidebar-updates {
    margin-top: 1.67em;
    margin-bottom: 1.67em
}

.sidebar-update {
    height: 3.5em;
    background-size: 3.5em 3.5em;
    margin-left: 1.67em;
    margin-bottom: 1.67em
}

.sidebar-update strong {
    color: #b9b9b9;
    padding-left: 5em;
    display: block
}

.sidebar-update em {
    font-size: .83em;
    color: #7e8081;
    font-style: normal;
    display: block;
    padding-left: 5em
}

.blue-update {
    background-image: url(../images/misc/notification-blue.png)
}

.green-update {
    background-image: url(../images/misc/notification-green.png)
}

.red-update {
    background-image: url(../images/misc/notification-red.png)
}

.yellow-update {
    background-image: url(../images/misc/notification-yellow.png)
}

.sidebar-copyright {
    margin-top: 1.67em;
    font-size: .83rem;
    color: #d3d3d4
}

.slides {
    box-sizing: content-box;
    height: auto
}

.slide {
    position: fixed;
    margin-left: .25em;
    top: 5.5em;
    max-height: 91%;
    height: 91%;
    width: calc(100vw - 2em);
    background: rgba(255, 255, 255, 1);
    padding: .2em;
    border: .1em solid #ddd
}

.bar-unfill,
.detailimage {
    background-color: transparent
}

.scrollable {
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    -webkit-transform: translateZ(0);
    overflow: hidden;
    overflow-y: scroll
}

.snap-drawer-left.scrollable {
    z-index: 2;
    height: 100%
}

.scrollable::-webkit-scrollbar {
    width: 0!important;
    display: none
}

.img-box {
    min-height: 7.33em;
    height: auto;
    padding: .2em
}

.detail {
    width: 65%
}

.img-box img,
.post img {
    margin: 0 0 .5em;
    width: 100%;
    overflow: hidden
}

.detailimage {
    display: -webkit-box
}

.bar-unfill,
.post img {
    display: block;
    height: auto
}

.img-box img {
    display: block;
    padding: 0 0 .5em;
    height: inherit;
    height: auto;
    min-height: 2em
}

.post img {
    border-bottom: .1em solid #911616
}

.bar-unfill {
    min-height: 6.5em;
    position: inherit;
    z-index: 1
}

.bar-fill,
.bar-fill-stripes {
    width: 0;
    min-height: 2em;
    -webkit-animation: progressbar 7s infinite;
    display: block
}

.bar-fill-stripes,
.img-box:active,
.text,
.text p,
.track,
.track-wrap {
    position: relative
}

.bar-fill {
    height: auto;
    background: #fff;
    -webkit-transition: max-width .8s ease;
    -moz-transition: max-width .8s ease;
    transition: max-width .8s ease
}

.bar-fill-stripes {
    top: 2.5em;
    left: 0;
    background: #000;
    height: 2em;
    max-height: 2em;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    -webkit-transition: max-width .8s ease;
    -moz-transition: max-width .8s ease;
    transition: max-width .8s ease
}

@-webkit-keyframes progressbar {
    from {
        transform: translateX(0);
        opacity: 0
    }
    to {
        transform: translateX(100%);
        opacity: 1
    }
}

@-webkit-keyframes progressbar2 {
    from {
        left: 0
    }
    to {
        left: 100%
    }
}

.track-wrap {
    top: -18px;
    -webkit-animation: progressbar2 7s infinite
}

.track {
    height: 20px;
    display: block;
    background: #e74c3c;
    width: 20px;
    border-radius: 10px;
    left: -12px
}

#preloader,
#spinner,
#status {
    position: fixed;
    background-repeat: no-repeat;
    z-index: 999999
}

progress,
progress::-webkit-progress-bar {
    height: 2em;
    display: block;
    background-color: #000;
    width: 0;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    color: #fff;
    -webkit-transition: max-width .8s ease;
    -moz-transition: max-width .8s ease;
    transition: max-width .8s ease;
    -webkit-animation: progressbar 7s infinite
}

progress::-moz-progress-bar {
    height: 2em;
    display: block;
    background-color: #000;
    width: 0;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    color: #fff;
    -webkit-transition: max-width .8s ease;
    -moz-transition: max-width .8s ease;
    transition: max-width .8s ease;
    -webkit-animation: progressbar 7s infinite
}

img:not([src]) {
    visibility: hidden
}

@-moz-document url-prefix() {
    img:-moz-loading {
        visibility: hidden
    }
}

img.loaded {
    height: auto
}

.detailbody {
    padding: .8em 0
}

.img-box:active {
    top: .3em
}

.text,
.text p {
    overflow: hidden;
    display: list-item;
    white-space: normal;
    margin-bottom: 1em;
    text-align: justify;
    height: auto
}

.text img {
    max-width: 100%;
}

.text h3 {
    text-align: left;
}

.text:last-child {
    padding-bottom: 10em
}

.text ul {
    margin: 0 2em;
    padding: 0
}

.text li {
    margin: .5em 0;
    padding: 0;
    list-style: disc
}

#br {
    line-height: .8em
}

.half-thumb {
    width: 45%;
    float: left;
    margin-left: 0;
    margin-right: 3%
}

#spinner,
#status {
    width: 25em;
    left: 50%;
    background-image: url(../images/466.GIF);
    background-size: 4em 4em;
    background-position: center;
    margin: -12.5em 0 0 -12.5em
}

#preloader {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #000;
    background-color: #2c2521;
    background-image: url(../images/background.png);
    background-size: cover
}

#status {
    height: 25em;
    top: 50%
}

#spinner {
    height: 5em;
    top: 80%
}

.ui-panel-inner {
    padding: 0;
    margin-bottom: 0;
    width: auto;
    height: inherit;
    background-image: url(../images/bg-body.jpg);
    background-position: 50% 50%;
    background-repeat: repeat;
    background-size: auto
}

.hilight,
.scrollimage {
    width: 100%;
    height: auto
}

.ui-body-a .ui-link,
.ui-body-a .ui-link:active,
.ui-body-a .ui-link:hover,
.ui-body-a .ui-link:visited {
    color: #fff;
    font-weight: 400
}

.hilight,
.promo em.date {
    color: #FFF
}

.ui-li-heading {
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
    text-overflow: initial
}

.ui-li-heading h2 {
    font-size: 2.6rem
}

.homepagetext {
    text-align: center;
    box-sizing: border-box
}

#facilitymap-canvas {
    box-shadow: none;
    height: 30em;
    text-align: center;
    font: 3em/30em Helvetica, Arial, sans-serif
}

.error {
    font-size: 1.2em;
    font-weight: 800
}

.hilight h2 {
    font-size: 1em;
    color: #FFF;
    z-index: 200;
    position: relative
}

.promo {
    position: relative;
    height: auto
}

.hilight {
    background-color: rgba(0, 0, 0, .85);
    position: absolute;
    bottom: 0;
    padding: .3em;
    line-height: 1.4;
    z-index: 11;
    left: 0;
    font-size: 1.8em
}

.btn,
a.close {
    line-height: 1
}

div.hilight .date {
    color: #fff
}

div.hilight em.date {
    font-size: .8em
}

.scrollimage {
    display: block;
    min-height: 20em
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto
}

.cfm:after,
.cfm:before {
    content: ' ';
    display: table
}

.cfm:after {
    clear: both
}

.lazy {
    display: none
}

.holder {
    width: 90%
}

.alertify .ajs-commands button.ajs-close {
    position: absolute;
    top: .2em;
    right: -1.3em;
    z-index: 2000
}

.modal-body,
.modal-box {
    position: fixed
}

.btn {
    padding: .75em 1.5em;
    background-color: #fff;
    border: 1px solid #bbb;
    color: #333;
    display: inline;
    border-radius: 4px;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    transition: background-color 1s ease
}

.btn:hover {
    background-color: #ddd;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    transition: background-color 1s ease
}

.btn-small {
    padding: .75em 1em;
    float: left
}

.modal-box {
    display: none;
    overflow: hidden;
    z-index: 1000;
    width: 95%;
    left: .5em;
    top: 2.5em;
    background: padding-box #FFF;
    border: 1px solid rgba(0, 0, 0, .1);
    margin: 0 auto;
    height: 90%;
    max-height: 100%
}

.modal-overlay,
a.close {
    top: 0;
    position: absolute
}

.modal-box .modal-header,
.modal-box header {
    margin: .25em 2em .25em 1em;
    border-bottom: 1px solid #ddd;
    font-size: .8em;
    font-weight: 600;
    height: auto
}

.modal-box .modal-header h3,
.modal-box .modal-header h4,
.modal-box header h3,
.modal-box header h4 {
    text-align: left;
    border-bottom: .1em solid #520606;
    margin: .2em;
    color: #520606;
    z-index: 0;
    font-weight: 800;
    font-size: 1.5em;
    text-transform: capitalize
}

.modal-box .modal-body {
    padding: .25em .5em;
    max-height: calc(100vh - 14em);
    max-height: 85%;
    height: 85%;
    width: 95%
}

.modal-box .modal-footer,
.modal-box footer {
    padding: .25em 1em;
    border-top: 1px solid #ddd;
    background: #fff;
    text-align: right;
    min-height: 3em;
    font-size: .3em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto
}

#action-footer {
    display: inline-block
}

.modal-overlay {
    opacity: 0;
    filter: alpha(opacity=0);
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3)!important
}

a.close {
    font-size: 2.5em;
    right: -.5em;
    color: #000;
    z-index: 2000;
    width: 2em;
    height: 2em;
    text-align: center
}

a.close:hover {
    color: #222;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease
}

hr {
    margin-top: .5em;
    margin-bottom: 1em;
    border: 0;
    border-top: 1px solid #eee;
    background-color: #710000;
    height: 1px
}

.none {
    display: none
}

.full {
    width: 100%
}

.form-group {
    padding-left: 25px;
    padding-right: 25px
}

.push-top-down-lg {
    margin-top: 4em
}

.push-top-down-md {
    margin-top: 2em
}

.push-top-down-sm {
    margin-top: 1em
}

.push-bottom-down-lg {
    margin-bottom: 4em
}

#detail-99 a,
.detailbio {
    display: inline
}

#copyrightYear {
    display: inline;
}